<section>
    <h2>OUR MENU</h2>
    <div class="menu-container">
        <div>
            <img src="./../../../assets/img/3_section_our_menu/Png/R1.png">
        </div>
        <div>
            <table>
                <th>Tonkasu Ramen</th>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95 €</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95 €</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95 €</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="menu-container flex-reverse">
        <div>
            <img src="./../../../assets/img/3_section_our_menu/Png/R2.png">
        </div>
        <div>
            <table>
                <th>Spicy Miso Ramen</th>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95 €</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95 €</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95 €</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="menu-container">
        <div>
            <img src="./../../../assets/img/3_section_our_menu/Png/R3.png">
        </div>
        <div>
            <table>
                <th>Shio Ramen</th>
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95 €</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95 €</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95 €</td>
                </tr>
            </table>
        </div>
    </div>
</section>